body {
    margin: 0;
    padding: 0;
}

.pageHeader{
    background-color:white;
}

.pageHeader img{
    display:block;
    max-width:40%;
    width:40%;
    max-height:50%;
    height:50%;
}

.introduction{
    max-height: 50%;
    border-style: solid;
    border-color: rgba(39, 39, 39, 0.151);
    border-top-width:1vw;
    border-bottom-width: 1vw;
    margin-top: 3vw;
    display: block;
    background-color:grey;
}

.content{
    text-align:center;
    font-family:"Algerian","Arial","Microsoft YaHei";
    font-size:1.25vw;
    font-weight:bold;
    color:white;
    line-height:175%;
}

.title p{
    text-align:center;
    font-family:"Algerian","Arial","Microsoft YaHei";
    font-size:2.5vw;
    font-weight:bold;
    color:rgb(207, 141, 152);
    margin-bottom: -1vw;
    margin-top:-0.25vw;
}

.title a{
    text-decoration:none;
}

.title a:hover{
    text-decoration:none;
}

.button{
    text-align:center;
    display:block;
}

.button button{
    font-size:2.5vw;
    font-family:"Georgia";
    font-weight:bold;
    margin-top:1vw;
    margin-bottom:1vw;
    background-color:rgb(184, 183, 183);
    border-radius:6vw;
}

.food{
    margin-right:3vw;
    height:15vw;
    width:30vw;
}

.accommodation{
    margin-left:3vw;
    height:15vw;
    width:30vw;
}

.charity{
    margin-right:3vw;
    height:15vw;
    width:24vw;
}

.about{
    margin-left:3vw;
    height:15vw;
    width:24vw;
}

.contact{
    margin-right:3vw;
    height:15vw;
    width:30vw;
}

.feedback{
    margin-left:3vw;
    height:15vw;
    width:30vw;
}

.ripple {
    position: relative;
}

.ripple:focus{
    outline:none;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

.button_image{
    width: 35vw;
    height: 20vw;
}

.footer{
    background: #211f17;
    display: flex;
    padding: 20px;
    position: relative;
 }
 
.aboutus{
    max-width: 30%;
    width: 30%;
    margin-top:1%;
    margin-left:5%;
 }
 
 .contact{
    max-width: 30%;
    width: 30%;
    margin-top:1%;
    margin-right:5%;
 }
 

 .aboutus .bold, .contact .bold{
    color: #ec3c6a;
    font-size: 1.5vw;
    font-weight: 700;
    padding-bottom: 4%;
 }
 
 
 .aboutus p, .contact p{
    color: #fff;
    font-size: 1.2vw;
 }

 .space{
     width:30%;
 }