/*This code was written by Yutian Chen.*/

/*The entirety of the admin screen*/
.mainContainer {
  display: flex;
  flex-direction: row;
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

/*The admin side bar*/
.navContainer {
  width: 8vw;
  max-width: 130px;
  height: 100%;
  background: #404040;
}

/*The screen related to the side bar*/
.infoContainer {
  width: 100%;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}
