/*styling for the content, the titles and the mainDiv*/
.content,
.title {
  text-align: center;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  line-height: 105%;
}

.mainDiv {
  text-align: center;
  max-width: 100vw;
}

/*The pink banner across the top of the food page*/
.banner {
  background-color: #c0087f;
  margin-top: 4vw;
  margin-bottom: 1.5vw;
  color: white;
  font-size: 2.5vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  text-align: center;
}

.picture {
  max-width: 85%;
  height: auto;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
}

.contentContainer {
  background-color: white;
  border-radius: 3%;
  border: 0.25vw solid #c0087f;
  margin: 1.5vw;
  text-align: center;
  display: inline-block;
  min-width: 350px;
  width: 85%;
  max-width: 85%;
  padding-left: 5px;
  padding-right: 5px;
}
