/*The pink banner across the top of the food page*/
.banner {
  background-color: rgb(216, 109, 127);
  margin-top: 4vw;
  margin-bottom: 1.5vw;
  color: white;
  font-size: 2.5vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  text-align: center;
}

.picture {
  max-width: 100%;
  height: 360px;
  margin: 10px;
  display: inline-block;
}

/*styling for the content, the titles and the mainDiv*/
.content,
.title,
.mainDiv {
  text-align: center;
}

.contentContainer {
  background-color: white;
  border-radius: 3%;
  border: 0.25vw solid pink;
  margin: 1.5vw;
  text-align: center;
  display: inline-block;
  width: 50%;
  padding: 3vw;
}
