.picture {
  max-width: 40%;
  width: 40%;
  max-height: 50%;
  height: 50%;
  text-align: center;
  padding: 10px;
  display: inline-block;
}

.imgButton {
  display: inline-block;
}

.content {
  text-align: center;
}

.title {
  text-align: center;
}

.contentContainer {
  background-color: white;
  border-radius: 3%;
  border: 0.25vw solid pink;
  margin: 5vw;
  text-align: center;
  display: inline-block;
  width: 50%;
  padding: 5vw;
}

.mainDiv {
  text-align: center;
}
