/*mainDiv is the parent div of all others in food*/
.mainDiv {
  text-align: center;
  max-width: 100vw;
}

/*The pink banner across the top of the food page*/
.banner {
  background-color: #c0087f;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
  color: white;
  font-size: 2.5vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  text-align: center;
}

/*Styling for the container of each item*/
.contentContainer {
  background-color: white;
  border-radius: 20px;
  border: 0.25vw solid #c0087f;
  margin: 1.5vw;
  text-align: center;
  display: inline-block;
  min-width: 350px;
  width: 85%;
  height: 70vh;
  max-width: 85%;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 5px #000000;
}

/*Styling for left and right on screen swipe indicators*/
.swipeRight {
  height: auto;
  width: 10%;
  float: right;
  padding: 10px;
}
.swipeLeft {
  height: auto;
  width: 10%;
  float: left;
  padding: 10px;
}

/*Styling for the picture for each item*/
.picture {
  max-width: 70%;
  height: auto;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
}

/*Basic styling for content & titling of each items information*/
.content,
.title {
  text-align: center;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  line-height: 105%;
}
