.picture {
  max-width: 40%;
  width: 40%;
  max-height: 50%;
  height: 50%;
  margin: "100vw";
  display: inline-block;
}

.imgButton {
  display: inline-block;
}

.buttonRow {
  text-align: center;
}

.content {
  text-align: center;
}

.title {
  text-align: center;
}