/*Footer main Div, everything centres correctly*/
.footerMain {
  text-align: center;
}

/*The pink banner across the top of the footer*/
.banner {
  background-color: #c0087f;
  margin-top: 4vw;
  margin-bottom: 0.5vw;
  color: white;
  font-size: 2.5vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  text-align: center;
}

/*The payPal donation button*/
.donate {
  border: 0px; /*No border of any kind*/
  border-radius: 8px;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  height: 8.93vw; /*vw is set so that the images aspect ratio is maintained - 30:8.93*/
  width: 30vw;

  background-image: url("../resource/footer/donate.png");
  background-size: 105% 110%;
  background-repeat: no-repeat;
  background-position: center;
}

/*Styling for the get involved button, and hovering over said button*/
.getInvolvedButton {
  font-size: 1.1vw;
  font-weight: bold;
  font-family: Georgia;
  height: 10vw;
  width: 30vw;
  color: #ffffff;
  background-color: #c0087f;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  border-radius: 5px;
  box-shadow: -2px 2px #e480ce;
}
.getInvolvedButton:hover {
  background-color: #e480ce;
  box-shadow: -2px 2px #c0087f;
}

/*The div that contains the buttons*/
.SocialButtons {
  text-align: center;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}
/*Default button styling*/
.butt {
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: -2px 2px #000000;
  border-radius: 13%;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 10px;
  min-height: 10px;
  height: 5vw;
  width: 5vw;
  max-height: 75px;
  max-width: 75px;
  transition: 0.3s;
}
/*Hovering over a button*/
.butt:hover {
  background-color: #c0087f;
  box-shadow: -2px 2px #c0087f;
}
/*Buttons for specific social media*/
.fb-butt {
  background-size: 95% 95%;
  background-image: url("../resource/footer/facebook.png");
}
.tw-butt {
  background-image: url("../resource/footer/ttww.png");
}
.ins-butt {
  background-size: 90% 90%;
  background-image: url("../resource/footer/ins.png");
}
.li-butt {
  background-size: 90% 90%;
  background-image: url("../resource/footer/linkedin.png");
}
.feed-butt {
  background-size: 90% 100%;
  background-image: url("../resource/footer/feedback.png");
}

/*Further info*/
.furtherInfo {
  text-align: center;
  margin-top: 2.5vw;
  margin-bottom: 0.5vw;
  font-size: 1vw;
  color: rgb(106, 103, 103);
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
}
/*Links for further info, and states related to when they are clicked and hovered*/
.furtherInfo a {
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}
.furtherInfo a:visited {
  color: rgb(106, 103, 103);
}
.furtherInfo a:hover {
  color: #c0087f;
}

/*CopyRight text at the bottom of the footer*/
.copyRight {
  text-align: center;
  color: rgb(106, 103, 103);
  margin-top: 0.2vw;
  font-size: 0.9vw;
}
