.pageHeader {
  display: block;
  margin-top: 6vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vw;
  max-width: 30%;
  width: 30%;
  max-height: 55%;
  height: 55%;
}

.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.headerUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c0087f;
  font-weight: bold;
  font-size: 1.25vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
}

.headerUl li {
  float: right;
  margin-left: 1vw;
  margin-right: 1vw;
}

.headerUl li .menuLevel {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.subMenu-hidden {
  display: none;
  position: absolute;
  background-color: #e480ce;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
}

.subMenu-show {
  display: block;
  position: absolute;
  background-color: #e480ce;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
}

.subMenu-show a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subMenu-show a:hover {
  text-decoration: none;
  color: #ffffff;
}

.subMenuItem-hover {
  background-color: #e480ce;
}

.menu-hover {
  background-color: #e480ce;
}
