body {
  margin: 0;
  padding: 0;
  cursor: pointer; /* This is used for Mobile device to fire the click event */
}

.pageHeader{
margin-top: 3vw;
background-color:white;
margin-bottom: -1vw;
}

.pageHeader img{
display:block;
max-width:50%;
width:50%;
max-height:55%;
height:55%;
}

.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.headerUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3efef;
  font-weight: bold;
  font-size: 1.25vw;
  font-family:"Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
}

.headerUl li {
  float: right;
  margin-left: 1vw;
  margin-right: 1vw;
}

.headerUl li .menulevel {
  display: inline-block;
  color: rgb(14, 11, 11);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.submenu-hidden {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.submenu-show {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.submenu-show a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submenu-show a:hover{
  text-decoration: none;
  color:black;
}

.submenuitem-hover {
  background-color: #d5c1c1;
}

.menu-hover {
  background-color: #d0cbcb;
}