body {
  margin: 0;
  padding: 0;
  outline: none;
}

.introduce {
  background-color: #c0087f;
  margin-top: 1vw;
  color: white;
  font-size: 2.5vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  text-align: center;
}

.introduction {
  border-style: solid;
  border-color: rgba(39, 39, 39, 0.151);
  border-top-width: 1vw;
  border-bottom-width: 1vw;
  margin-top: 3vw;
  display: block;
  background-color: grey;
}

.content-history {
  text-align: left;
  font-family: Helvetica, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei",
    华文细黑, STHeiti, MingLiu;
  font-size: 1.25vw;
  font-weight: bold;
  color: white;
  line-height: 175%;
  display: block;
  float: right;
  max-width: 55%;
  width: 55%;
  margin-left: 5%;
}

.history-image {
  display: block;
  float: left;
  max-width: 40%;
  width: 40%;
  max-height: 50%;
  height: 50%;
}

.introduction::after {
  content: " ";
  display: block;
  clear: both;
}

.content-introduction {
  text-align: left;
  font-family: Helvetica, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei",
    华文细黑, STHeiti, MingLiu;
  font-size: 1.25vw;
  font-weight: bold;
  color: white;
  line-height: 175%;
  display: block;
  float: left;
  max-width: 55%;
  width: 55%;
  margin-right: 5%;
}

.introduction-image {
  display: block;
  float: right;
  max-width: 40%;
  width: 40%;
  max-height: 40%;
  height: 40%;
}

.introductionTitle p {
  text-align: center;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  font-size: 2.5vw;
  font-weight: bold;
  color: #c0087f;
  margin-bottom: -3vw;
  margin-top: 1vw;
}

.introductionTitle a {
  text-decoration: none;
}

.introductionTitle a:hover {
  text-decoration: none;
}

.explore {
  background-color: #c0087f;
  margin-bottom: 4vw;
  color: white;
  font-size: 2.5vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  text-align: center;
}

.exploreButton {
  text-align: center;
  display: block;
}

.button_image {
  width: 35vw;
  height: 16vw;
}

.link:hover {
  text-decoration: none;
}
