/*The pink banners you see across the top of the page*/
.banner {
  background-color: #c0087f;
  color: white;
  font-size: 2.5vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  text-align: center;
  margin-bottom: 3vw;
}

/*The dark coloured boxes which contain pictures & text*/
.infoBox {
  overflow-y: hidden;
  width: 100vw;
  border-style: solid;
  border-color: rgba(39, 39, 39, 0.151);
  border-top-width: vw;
  border-bottom-width: 1vw;
  margin-bottom: 3vw;
  display: block;
  background-color: grey;
}
/*Pictures within the infobox*/
.infoBox img {
  display: center;
  float: left;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 40%;
}

/*The text*/
.infoBox div {
  float: left;
  text-align: center;
  overflow: hidden;
  width: 60%;
}

.infoBox h1 {
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  font-size: 2.5vw;
  font-weight: bold;
  color: #c0087f;
  margin-top: 1vw;
}

.infoBox p {
  font-family: Helvetica, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei",
    华文细黑, STHeiti, MingLiu;
  font-size: 1.25vw;
  font-weight: bold;
  color: white;
  line-height: 150%;
  margin-left: 5%;
  margin-right: 5%;
}

.infoBox ul {
  font-family: Helvetica, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei",
    华文细黑, STHeiti, MingLiu;
  font-size: 1.25vw;
  font-weight: bold;
  color: white;
  text-align: left;
  line-height: 150%;
  margin-left: 5%;
  margin-right: 5%;
}

.exploreButton {
  text-align: center;
  display: block;
}

.button_image {
  width: 35vw;
  height: 16vw;
}

.link:hover {
  text-decoration: none;
}
