/*The pink banners you see across the top of the page*/
.banner {
  background-color: #c0087f;
  color: white;
  font-size: 2.5vw;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  text-align: center;
  margin-bottom: 3vw;
}

/*The dark coloured boxes which contain pictures & text*/
.infoBox {
  overflow-y: hidden;
  width: 100vw;
  border-style: solid;
  border-color: rgba(39, 39, 39, 0.151);
  border-top-width: 1vw;
  border-bottom-width: 1vw;
  margin-bottom: 3vw;
  display: block;
  background-color: grey;
}
/*Pictures within the infoBox*/
.infoBox img {
  display: center;
  float: left;
  width: auto;
  height: auto;
  max-width: 40%;
}
/*Wraps around the <h1> & <p> tags within infoBox*/
.infoBox div {
  float: left;
  text-align: center;
  overflow: hidden;
  width: 60%;
}
/*InfoBox titles*/
.infoBox h1 {
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  font-size: 2.5vw;
  font-weight: bold;
  color: #c0087f;
  margin-top: 1vw;
}
/*InfoBox text*/
.infoBox p {
  font-family: Helvetica, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei",
    华文细黑, STHeiti, MingLiu;
  font-size: 1.25vw;
  font-weight: bold;
  color: white;
  line-height: 150%;
  margin-left: 5%;
  margin-right: 5%;
}
/*InfoBox lists*/
.infoBox ul {
  font-family: Helvetica, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei",
    华文细黑, STHeiti, MingLiu;
  font-size: 1.25vw;
  font-weight: bold;
  color: white;
  text-align: left;
  line-height: 150%;
  margin-left: 5%;
  margin-right: 5%;
}

/*Contains the button elements and the image in the middle*/
.buttonContainer {
  text-align: center;
}
/*Styling for the image*/
.buttonContainer img {
  width: auto;
  height: 16vw;
}
/*Styling for the links (buttons onClick())*/
.buttonContainer a {
  text-decoration: none;
}
